.item {
  display: flex;
  justify-content: center;
  flex-direction: column;

  max-width: 49%;
  width: 100%;
  height: 210px;
  padding: 20px;

  @media (max-width: 768px){
    height: 140px;
    padding: 10px;
  }

  @media (max-width: 475px){
    max-width: 100%;
  }

  margin-top: 1px;
  margin-left: 1px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(30, 30, 30, 0.7);

  .hed {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #1f1f1f;
    margin-bottom: 20px;

    @media (max-width: 768px){
      font-size: 20px;
      line-height: 24px;
    }
  }
  .descriptions {
    margin-bottom: 20px;

    @media (max-width: 768px){
      margin-bottom: 10px;
    }
  }

  p {
    word-break: break-all;
    color: rgba(30, 30, 30, 0.7);

    @media (max-width: 768px){
      font-size: 14px;
    }

    span {
      padding-left: 10px;
      color: #1f1f1f;
      font-size: 14px;
    }
  }
  a {
    padding-left: 10px;
    color: #1f1f1f;
    font-size: 14px;
  }
}
